<div class="form-group">
  <div class="form-group">
    <ul class="condition-list no-indent">
      <% @categories.each do |category| %>
        <li><%= category.name %>
          <ul class="condition-list">
          <% category.conditions.each do |condition| %>
            <% if @race.conditions.include?(condition) %>
              <%= condition.name %>
            <% end %>     
          <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>