<div class="row">
	<div class="col-xs-3">
		<h4>Your Stable:</h4>
		<%= collection_select(:menu, :horse_id, @horses,:id, :name, {:prompt => 'Please select a horse'}) %>
	</div>
	<div class="col-xs-12">
		<div id="levelOne" class="col-xs-5">
		</div>
	</div>
</div>