<div class="col-xs-8">
  <h1>Race Menu</h1>
 </div>
<div class="col-xs-5">
	<h4>
	Choose Your Horse<%= collection_select(:menu, :horse_id, @horses,:id, :name, {:prompt => 'Please select a horse'}) %>
	</h4>
</div>
<div class="col-xs-12">
	<div id="racemenu"></div>
</div>







