<div class="row">
	<div class="col-xs-12">
		<h2>Race Menu</h2>
	</div>
	<div class="col-xs-12 well">
		<h4>Choose Your Horse</h4>
		<% if @horse %>
		<div id='specificHorse' horse="<%=@horse.id%>"></div>
		<%= collection_select(:menu, :horse_id, @horses, :id, :name, {:selected => @horse.id, :include_blank => 'None'}) %>
		<% else %>
		<%= collection_select(:menu, :horse_id, @horses,:id, :name, {:prompt => 'Please select a horse'}) %>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div id="racemenu"></div>
	</div>
</div>








