<div class="row">
	<div class="col-xs-12">
		<h2>Race Menu</h2>
	</div>
	<div class="col-xs-12 well">
		<h4>Choose Your Horse</h4>
		<% if @horse %>
		<div id='specificHorse' horse="<%=@horse.id%>"></div>
		<%= collection_select(:menu, :horse_id, @horses.order('name ASC'), :id, :name, {:selected => @horse.id, :include_blank => 'None'}) %>
		<% else %>
		<%= collection_select(:menu, :horse_id, @horses.order('name ASC'),:id, :name, {:prompt => 'Please select a horse'}) %>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div id="racemenu"></div>
	</div>
	<div id="already_confirmed" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Already Confirmed to Race</h4>
				</div>
				<div class="modal-body">
					<p>You can only be confirmed to one race per horse at a time.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>








