<h1>Listing horse_filter_settings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horse_filter_settings.each do |horse_filter_setting| %>
      <tr>
        <td><%= link_to 'Show', horse_filter_setting %></td>
        <td><%= link_to 'Edit', edit_horse_filter_setting_path(horse_filter_setting) %></td>
        <td><%= link_to 'Destroy', horse_filter_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horse filter setting', new_horse_filter_setting_path %>
