<div class="row">
  <div class="col-xs-12">
    <h1>Users</h1>
    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

