<div class="row">
  <div class="col-xs-12 col-md-8">
    <h3>Users</h3>
    <table class="table">
      <thead>
        <td>Email</td>
        <td>Role</td>
        <td>Action</td>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

