<%= render 'formUpdate' %>

<% if @condition_node.getRace %>
	<div class="form-group col-xs-12">
		<%= link_to 'Back to Race', '/races/'+@condition_node.getRace.id.to_s+'/edit_with_race_conditions', :class => 'btn btn-primary btn-mini' %>
	</div>
<% else %>
	<div class="form-group col-xs-12">
		<%= link_to 'Back to Race', races_new_race_conditions_path(:race => {:condition_node_id => @condition_node.id}), :class => 'btn btn-primary btn-sm' %>
	</div>
<% end %>

