<h3>Welcome to Race Builder Pro</h3>

<% if !current_user.nil? and current_user.admin? %>
  <% @users.each do |user| %>
    <p>User: <%=link_to user.email, user %> Role: <%= user.role unless user.role.nil? %></p>
  <% end %>
<% end %>
<% if !current_user.nil? and current_user.role == "trainer" %>
	<h4>Welcome <%= current_user.name %>!</h4>
<% end %>

