
<h2>
	<% if !current_user.nil? %>
		<%= current_user.name %>, 
	<% end %> 
	Welcome to Race Builder Pro
</h2>
<h4>Version: 1.0.1</h4>
<p>Race Builder Pro is a web application designed to revolutionize horse racing’s current entry process, which no longer allows for an optimal race program. Presently, horse racing uses an antiquated, reactive approach that has hindered horsemen’s confidence to find races for their horses and has limited the ability for racetracks to maximize field size. Thus, the primary objective of The Racing Secretary project is to create a viable alternative that will revitalize the entry process using a fresh, proactive technology.</p>
