.race-menu-selectors select {
	width: auto;
}

.equipment-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.condition-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.center {
	text-align: center;
}

.grid {
	margin-top: 25px;
}

.grid.simple .grid-body.no-border {
	padding: 25px;
}