.race-menu-selectors select {
	width: auto;
}

.equipment-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.condition-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.center {
	text-align: center;
}

.grid {
	margin-top: 25px;
}

.grid.simple .grid-body.no-border {
	padding: 25px;
}

.inline-hidden-form {
	display: inline-block;
}

.inline-checkbox {
	display: inline-block;
}

.ui-draggable.ui-dialog {
	background-color: #E5E9EC;
	color: #515050;
	padding: 15px;
	border: 1px solid #515050
}

.ui-draggable-dragging {
	width: 300px;
	background-color: #E5E9EC;
	color: #515050;
	border: 1px solid #515050;
	padding: 15px;
	
}

#day-table {
	min-height: 200px;	
	border: 1px solid #e8edf1;
}

#day-table tr,
#day-table td {
	max-height: 50px !important;
}



.condition-book  span {
	font-weight: bold;
	text-transform: uppercase;
}

.condition-book .race-type {
	display: block;
	width: 100%;
	text-align: right;
}

.condition-book .race-weight span {
	text-transform: none;
	font-weight: normal;
}

.condition-book .race-distance,
.condition-book .race-claiming {
	display: inline-block;
}




































