/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */.race-menu-selectors select {
	width: auto;
}

.equipment-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.condition-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.center {
	text-align: center;
}

.grid {
	margin-top: 25px;
}

.grid.simple .grid-body.no-border {
	padding: 25px;
}

.inline-hidden-form {
	display: inline-block;
}

.inline-checkbox {
	display: inline-block;
}

.ui-draggable.ui-dialog {
	background-color: #E5E9EC;
	color: #515050;
	padding: 15px;
	border: 1px solid #515050
}

.ui-draggable-dragging {
	width: 300px;
	background-color: #E5E9EC;
	color: #515050;
	border: 1px solid #515050;
	padding: 15px;
	
}

#day-table {
	min-height: 200px;	
	border: 1px solid #e8edf1;
}

#day-table tr,
#day-table td {
	max-height: 50px !important;
}