.dataTable tr td i {
  cursor: pointer;
}

.race-menu-selectors select {
	width: auto;
}

.equipment-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.condition-list {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 10px;
}

.center {
	text-align: center;
}

.grid {
	margin-top: 25px;
}

.grid.simple .grid-body.no-border {
	padding: 25px;
}

.inline-hidden-form {
	display: inline-block;
}

.inline-checkbox {
	display: inline-block;
}

.ui-draggable.ui-dialog {
	background-color: #E5E9EC;
	color: #515050;
	padding: 15px;
	border: 1px solid #515050
}

.ui-draggable-dragging {
	width: 300px;
	background-color: #E5E9EC;
	color: #515050;
	border: 1px solid #515050;
	padding: 15px;
	
}

#tel-table {
	border: 1px solid #e8edf1;
}

form.edit_horserace {
  text-align: center;
	position: relative;
	max-height: 25px;
}


.condition-book  span {
  font-weight: bold;
  text-transform: uppercase;
}

.condition-book .race-type {
  display: block;
  width: 100%;
  text-align: right;
}

.condition-book .race-weight span {
  text-transform: none;
  font-weight: normal;
}

.condition-book .race-distance,
.condition-book .race-claiming {
  display: inline-block;
}

.childSelector {
    width: 120px;
    text-align: center;
}

.condition-container {
  padding: 20px;
  text-align: center;
}

.condition-container button {
  margin: 5px 0;
}


/* ============================================================
  SWITCH 3 - YES NO
  ============================================================ */
  input.cmn-toggle-yes-no {
  	display: none;
  }

  input.cmn-toggle-yes-no + label {
    cursor: pointer;
  	width: 60px;
  	height: 25px;
  	padding: 5px;
  	display: block;
    line-height: 25px;
    position: relative;
    -webkit-box-shadow: 3px 3px 0 #dce0e8;
    -moz-box-shadow: 3px 3px 0 #dce0e8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 10px;
  }

  input.cmn-toggle-yes-no + label:hover {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0 #dce0e8;
    -moz-box-shadow: 0px 0px 0 #dce0e8;
    top: 3px;
    left: 3px;
  }

  input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  	display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	color: #fff;
  	font-size: 0.85em;
  	text-align: center !important;
  }
  input.cmn-toggle-yes-no + label:before {
    border-radius: 10px;
  	background-color: #44a8f4;
  	content: attr(data-off);
  	-webkit-transition: -webkit-transform 0.5s;
  	-moz-transition: -moz-transform 0.5s;
  	-o-transition: -o-transform 0.5s;
  	transition: transform 0.5s;
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
  	backface-visibility: hidden;
  }
  input.cmn-toggle-yes-no + label:after {
    border-radius: 10px;
  	background-color: #8ce196;
  	content: attr(data-on);
  	-webkit-transition: -webkit-transform 0.5s;
  	-moz-transition: -moz-transform 0.5s;
  	-o-transition: -o-transform 0.5s;
  	transition: transform 0.5s;
  	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	-o-transform: rotateY(180deg);
  	transform: rotateY(180deg);
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
  	backface-visibility: hidden;
  }
  input.cmn-toggle-yes-no:checked + label:before {
  	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	-o-transform: rotateY(180deg);
  	transform: rotateY(180deg);
  }
  input.cmn-toggle-yes-no:checked + label:after {
  	-webkit-transform: rotateY(0);
  	-moz-transform: rotateY(0);
  	-ms-transform: rotateY(0);
  	-o-transform: rotateY(0);
  	transform: rotateY(0);
  }



































































